
/* THIS PAGE CONTAINS THE STYLING OF MAIN CONTENT ON "checkout.html" */

/* Reused CSS from other stylesheets:
.info-part       (found in: "jacketCategories.css")
.info-desk       (found in: "jacketCategories.css")
.formContainer   (found in: "contact.css")
.formHeader      (found in: "contact.css")
.btn             (found in: "contact.css")
*/

.basketProduct-container, .summary-ship, .summary-total, .formContainer {
    margin-left: 3rem;
    margin-right: 3rem;
}

.basketProduct-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
  
.basketProduct-container img {
    width: 10.3rem;
    height: 10.4rem;
}

.productname-header {
    text-transform: uppercase;
}

.stock {
    color: #078A70;
}

.summary-ship, .summary-total {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: var(--font-roboto);
    font-size: 0.875rem;
    color: var(--color-primary);
}

.price-ship, .price-total {
    float: right;
}

.checkout-text {
    margin-top: 8rem;
}

input[type="text"]:hover, input[type="radio"]:hover {
    cursor: text;
}
  
input[type="text"]:active, input[type="radio"]:active {
    cursor: text;
}
  
input[type="radio"] {
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid #000000;
    border-radius: 50%;
    cursor: pointer;
    vertical-align: middle;
}

input[type="radio"]:hover {
    cursor: pointer;
}
  
input[type="radio"]:checked {
    background-color: #000000;
}

.personal-info {
    margin-bottom: 4rem;
}

.delivery-options, .payment-options {
    color: var(--color-secondary);
    font-size: 0.875rem;
    margin-bottom: 1rem;
}

.checkout-text h2 {
    margin: 2.5rem 3rem 1rem 3rem;
    font-weight: 300;
}

.payment-options {
    display: flex;
    flex-direction: column;
}

.payment-options label {
    display: flex;
    align-items: center;
}

.btn button a {
    color: var(--color-primary);
}

.payment-info {
    margin-bottom: 1rem;
}

