
/* THIS PAGE CONTAINS THE STYLING OF MAIN CONTENT ON "privacy.html", and "terms.html" */

.documentsHeader, .textHeader, .textContainer {
    margin: 0 3rem 1.563rem 3rem;
}

.documentsHeader {
    margin-top: 2.5rem;
}

.documentsHeader h1 {
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-bottom: 1.875rem;
}

.textHeader h2 {
    color: var(--textcolor-primary);
    font-size: 1rem;
    text-transform: capitalize;
    text-align: left;
    margin-top: 3.75rem;
    margin-bottom: 1.875rem;
}

.documentsHeader p, .textContainer p {
    color: var(--textcolor-primary);
    line-height: 1.25rem;
}

.textContainer:last-child {
    margin-bottom: 4.688rem;
}